<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div style="margin-top: 100px;">
<nav>
  <div class="dashboard_buttons">
    <ul>
    
    <li><a style="margin-right: 20px;"routerLink="/user">Back</a></li>
  </ul>
  </div>
</nav>
<hr />
<input type="number" [(ngModel)]="id"/>
<button (click)="getUserDetails()">Get Product Details</button>
<div style="margin-top: 100px;">
   
    <div *ngIf="!user">
        <p>No user found with the specified ID.</p>
      </div>
    <div *ngIf="user">
    <h1>User Details</h1>
      <p><strong>ID:</strong> {{user.id}}</p>
      <p><strong>Name:</strong> {{user.name}}</p>
      <p><strong>Email:</strong> {{user.email}}</p>
      <p><strong>Mobile:</strong> {{user.mobile}}</p>
      <p><strong>Registered Date:</strong> {{user.registeredDate | date:'longDate'}}</p>
    </div>
    
      
 </div>
</div>