<hr />
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <div class="logo">
    <img src="../../assets/img/logo.png"  width="100px"/>
    </div>
   
      <h1 class="dashboard_name">Product Centre</h1>
      <hr />
      <br><br>
      <nav>
      <div class="dashboard_buttons">
        <ul>
        <li><a routerLink="/listproduct" >List Product</a> </li>
        
       
        
        <li><a routerLink="/dashboard">Back</a></li>
      </ul>
      </div>
    </nav>
  
</html>
    
