<hr />
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <div class="logo">
    <img src="../../assets/img/logo.png"  width="100px"/>
    </div>
   
      <h1 class="dashboard_name">Service Centre</h1>
      <hr />
      <br><br>
      <nav>
      <div class="dashboard_buttons">
        <ul>
        <li><a style="margin-right: 20px;" routerLink="/listbookings" >List Bookings</a> </li>
        <li><a style="margin-right: 20px;" routerLink="/viewbookings">View Booking</a></li>
       <li> <a style="margin-right: 20px;"routerLink="/createnewbooking">Create New Booking</a></li>
        <li><a style="margin-right: 20px;"routerLink="/listservicerequests">List Service Requests</a></li>
        <li> <a style="margin-right: 20px;"routerLink="/viewreports">View Reports</a></li>
        <li><a style="margin-right: 20px;"routerLink="/dashboard">Back</a></li>
      </ul>
      </div>
    </nav>
  
</html>
    <router-outlet></router-outlet>
