<hr />
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <div class="logo">
    <img src="../../assets/img/logo.png"  width="100px"/>
    </div>
   
      <h1 class="dashboard_name">Service Centre</h1>
      <hr />
      <br><br>
      <nav>
      <div class="dashboard_buttons">
        <ul>
        
        
       
        <li><a style="margin-right: 20px;"routerLink="/mybookings">Your Bookings</a></li>
        
        
        <li><a style="margin-right: 20px;"routerLink="/dashboard">Home</a></li>
      </ul>
      </div>
    </nav>
  
</html>
    <router-outlet></router-outlet>
