<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="logo">
    <img src="../../assets/img/logo.png"  width="100px"/>
    </div>
   
     
      <hr /><br>
<div style="margin-top: 50px;">
    <nav>
        <div class="dashboard_buttons">
          <ul>
          
          <li><!--<a style="margin-right: 20px;"routerLink="/product">Back</a>--></li>
          <li><a style="margin-right: 20px;"routerLink="/admindashboard">Home</a></li>
        </ul>
        </div>
      </nav>
    
    <h2>Products Available for service</h2><br>
    <table class="table">
        <thead>
        <tr>
            <th> Product ID </th>
            <th> Product Name </th>
            
            <th> Model</th>
           
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of ul">
            <td>{{u.id}}</td>
            <td>{{u.name}}</td>
           
            <td>{{u.model}}</td>
            
            <td><a routerLink="/viewproduct/{{u.id}}">View</a></td>
            <td><a routerLink="/updateproduct/{{u.id}}">Update</a></td>
            <td><button (click)="clickMethod(u)" style="background-color:red;">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <button style="margin-left: 20px;"routerLink="/product" >Back</button>
</div>