<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div style="margin-top: 100px;">
    <nav>
        <div class="dashboard_buttons">
          <ul>
          
          <li><a style="margin-right: 20px;"routerLink="/adminservice">Back</a></li>
        </ul>
        </div>
      </nav>
    
     <h2>List of Requests are</h2>
    <table class="table">
        <thead>
        <tr>
            <th> Report ID </th>
            <th> Request ID </th>
           
            <th> Service Type </th>
            <th> Action Taken </th>
           
            <th> Repair Details </th>
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of ulist">
            <td>{{u.id}}</td>
            <td>{{u.serReqId}}</td>
            
            <td>{{u.serviceType}}</td>
            <td>{{u.actionTaken}}</td>
            
           
            
            <td>{{u.repairDetails}}</td>
            <td><a routerLink="/viewservicerequests/{{u.id}}">View</a></td>
            
           
            </tr>
        </tbody>
    </table>
</div>

          
            