

<div>
    <h1 ></h1>
    <div class="logo">
        <img src="../../assets/img/logo.png"  width="100px"/>
        </div>
       
      <br><br><br>    
    <nav>
        <div class="dashboard_buttons">
          <ul>
         
          <li><!--<a style="margin-right: 20px;"routerLink="/listbookings">Back</a>--></li>
        </ul>
        </div>
      </nav>
      <div>
        <h1 class="dashboard_name">Update Status</h1>
        
  
<form  #prform="ngForm"   class="was-validated" (ngSubmit)="updateDetails(prform.value)">
    

    <!-- Id:
    <input type="number" name="id" [(ngModel)]="product.id" #id=ngModel disabled/>
    <span class="invalid-feedback" *ngIf="id.touched && id.invalid">User name should be minimum of 5 characters </span><br/><br/> -->
  
    Product Id:<span style="color: red;">*</span><br><br>
    <input type="number" name="productId" [(ngModel)]="product.productId" #productId=ngModel minlength="5" disabled/>
    <span class="invalid-feedback" *ngIf="productId.touched && productId.invalid">User name should be minimum of 5 characters </span><br/><br/>

    <!-- User Id:<span style="color: red
    ;">*</span><br><br>
    <input type="number" name="userId" [(ngModel)]="product.userId" #userId=ngModel disabled/>
    <span class="invalid-feedback"  *ngIf="userId.touched && userId.invalid">Password is mandatory </span><br/><br/> -->

    Requested Date:<span style="color: red;">*</span><br><br>
    <input type="datetime" name="reqDate"  [(ngModel)]="product.reqDate" #reqDate=ngModel min="1" disabled/>
    <span class="invalid-feedback" *ngIf="reqDate.touched && reqDate.invalid"> Enter correct email </span><br/><br/>

    Problem:<span style="color: red ;">*</span><br><br>
    <input type="text" name="problem" [(ngModel)]="product.problem" #problem=ngModel disabled/>
    <span style="text-decoration-color: red;" class="invalid-feedback" *ngIf="problem.touched && problem.invalid"> Enter mobile number correctly</span><br/><br/>
    <br/><br/>

    Description:<span style="color: red;">*</span><br><br>
    <input type="text" name="description" [(ngModel)]="product.description" #description=ngModel disabled/>
    <span style="text-decoration-color: red;" class="invalid-feedback" *ngIf="description.touched && description.invalid" style="color: red;"></span><br/><br/>
    <br/><br/>

    Update Status:<span style="color: red;">*</span><br><br>
    <!-- <select type="text" name="status" [(ngModel)="product.status" >
        <option value="pending">pending</option>
        <option value="resolved">resolved</option>
        
    </select> -->
    <select  name="status" [(ngModel)]="product.status" #status=ngModel style="width: 100px;" >
        <option value="pending" selected>Pending</option>
        <option value="resolved" >Resolved</option>
        
      </select>
    <!-- <input type="" name="status" [(ngModel)]="product.status" #status=ngModel /> -->
    <span style="text-decoration-color: red;" class="invalid-feedback" *ngIf="status.touched && status.invalid" style="color: red;" ></span><br/><br/>
    <br/><br/>
<br>
    

    <button type="submit" value="update booking"  ((submit))="updateDetails(prform.value)" class="primary">Update Status</button>
    <button type="reset" style="margin-left: 20px;"> Clear </button>
    <button style="margin-left: 20px;" routerLink="/listbookings">Back</button>
    <br/><br/>
</form>

</div>
</div>


