
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <div class="logo">
    <img src="../../assets/img/logo.png"  width="100px"/>
    </div>
    
   <br>
      <h1 class="dashboard_name" style="margin-bottom: 1px;">Dashboard</h1>
      <br>
      <br><br>
      <nav>
      <div class="dashboard_buttons" style="margin-top: 5px;">
        <ul>
        <li><a style="margin-right: 20px;" routerLink="/listuser" >User</a> </li>
        <li><a style="margin-right: 20px;" routerLink="/product">Product</a></li>
       <li> <a style="margin-right: 20px;" routerLink="/adminservice">Service</a></li>
       <li><a style="margin-right: 20px;" (click)="logOut()" >Logout </a> </li>
        
      </ul>
      </div>
    </nav>
  
</html>
   
