<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="logo">
    <img src="../../assets/img/logo.png"  width="100px"/>
    </div>
    <br><br>
<div style="margin-top: 50px;">
    <nav>
        <div class="dashboard_buttons">
          <ul>
          
          <li><!--<a style="margin-right: 20px;"routerLink="/adminservice">Back</a>--></li>
          <li><a style="margin-right: 20px;"routerLink="/admindashboard">Home</a></li>
        </ul>
        </div>
      </nav>
    
    <h2>All Bookings</h2>
    <table class="table">
        <thead>
        <tr>
            <th> Booking ID </th>
            
            
            <th> Problem</th>
            <th> Description </th>
            <th> Request Date </th>
            <th> Status</th>
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of ulist">
            <td>{{u.id}}</td>
            
           
            <td>{{u.problem}}</td>
            <td>{{u.description}}</td>
            <td>{{u.reqDate}}</td>
            <td>{{u.status}}</td>
            <td><a routerLink="/viewbookings/{{u.id}}">View</a></td>
            <td><a routerLink="/aupdatebooking/{{u.id}}">Update Status</a></td>
            <td><a routerLink="/aupdateproduct/{{u.id}}">Add Report</a></td>
            
            
           
            </tr>
        </tbody>
    </table>
    <button style="margin-left: 20px;width: 80px;"routerLink="/adminservice">Back</button>
</div>