<div>
    <h1 ></h1>
    <div class="logo">
        <img src="../../assets/img/logo.png"  width="100px"/>
        </div>
       
          <h1 class="dashboard_name">Add Product</h1>
          <hr />
    <nav>
        <div class="dashboard_buttons">
          <ul>
         
          <li><a style="margin-right: 20px;"routerLink="/dashboard">Back</a></li>
        </ul>
        </div>
      </nav>
<form  #prform="ngForm" (ngSubmit)="savebooking()" >
    

  
    Product ID:
    <input type="number" name="name" [(ngModel)]="u.productId" #productId=ngModel minlength="5" required/>
    <span class="invalid-feedback" *ngIf="productId.touched && productId.invalid">Product ID required </span><br/><br/>

    User ID:
    <input type="number" name="password" [(ngModel)]="u.userId" #userId=ngModel required/>
    <span class="invalid-feedback"  *ngIf="userId.touched && userId.invalid">User ID required </span><br/><br/>

    Request Date:
    <input type="datetime" name="email"  [(ngModel)]="u.reqDate" #reqDate=ngModel min="1" required/>
    <span class="invalid-feedback" *ngIf="reqDate.touched && reqDate.invalid"> Chosse Request Date </span><br/><br/>

    Problem:
    <input type="text" name="mobile" [(ngModel)]="u.problem" #problem=ngModel required/>
    <span style="text-decoration-color: red;" class="invalid-feedback" *ngIf="problem.touched && problem.invalid"> Enter Problem correctly</span><br/><br/>
    <br/><br/>

    Description:
    <input type="text" name="registeredDate" [(ngModel)]="u.description" #description=ngModel required/>
    <span style="text-decoration-color: red;" class="invalid-feedback" *ngIf="description.touched && description.invalid">Write Description</span><br/><br/>
    <br/><br/>

    Status:
    <input type="text" name="registeredDate" [(ngModel)]="u.status" #status=ngModel required/>
    <span style="text-decoration-color: red;" class="invalid-feedback" *ngIf="status.touched && status.invalid">Write Status</span><br/><br/>
    <br/><br/>

    <button type="submit" value="save booking"  class="primary">Add New Product</button>
    <button type="reset" > Clear </button>
    <br/><br/>
</form>
</div>
